@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
    display: block;
    width: 70%;
    padding:1;
}

input{
    padding:1rem;
    border: 2px solid rgb(110, 110, 255);
    font-size: 1.5rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:auto;
    padding: 1rem;
}

#input-one{
    margin-bottom: 1rem;
}

button{
    width: 20%;
    padding: 1rem;
    background-color:rgb(195, 195, 255);
    color:black;
    font-size:1rem;
}

#output{
    padding-top: 1rem;
    font-size: 2rem;
}